div {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container {
  img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
}

h1 {
  color: white;
  font-family: Bebas Neue;
}

p {
  -webkit-text-stroke: 4px rgb(78, 76, 76);
  color: black;
  font-size: 400px;
  margin-right: 0;
  position: relative;
  top: -90px;
  left: 50px;
}
