div {
    display: flex;
    justify-content: space-between;
}

.container {
    img {
        width: 150px;
    }
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 300px;
    margin-right: 0;
}