<h1>Películas mas vistas</h1>

<div>
  <div class="container" *ngFor="let topFilm of top.gallery">
    <!-- <p>{{ topFilm.number }}</p> -->
    <img src="{{ topFilm.src }}" alt="{{ topFilm.alt }}" />
  </div>
</div>
<div class="numbers1">
  <img width="200" src="../../../assets/numeros/1.png" alt="3" />
</div>
<div class="numbers2">
  <img width="200" src="../../../assets/numeros/2.png" alt="3" />
</div>
<div class="numbers3">
  <img width="200" src="../../../assets/numeros/3.png" alt="3" />
</div>
<div class="numbers4">
  <img width="200" src="../../../assets/numeros/4.png" alt="3" />
</div>
<div class="numbers5">
  <img width="200" src="../../../assets/numeros/5.png" alt="3" />
</div>
