.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img {
  display: flex;
  height: 300px;
  width: 200px;
  cursor: pointer;
  margin: 34px 12px;
  border-radius: 10px;
}

h2 {
  color: white;
  font-family: Bebas Neue;
}
