nav {
  margin: auto;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: 20px;
    margin-top: 20px;
    ol {
      a {
        text-decoration: none;
        color: white;
        font-size: 2em;
        
      }
    }
  }
}
