<nav>
  <img
    width="200px"
    src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png"
    alt=""
  />
  <ul>
    <ol>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-home"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="#9e9e9e"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <polyline points="5 12 3 12 12 3 21 12 19 12" />
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
      </svg>
      <a href="#">Inicio</a>
    </ol>
    <ol>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-search"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="#9e9e9e"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <circle cx="10" cy="10" r="7" />
        <line x1="21" y1="21" x2="15" y2="15" />
      </svg>
      <a href="#">Buscar</a>
    </ol>
  </ul>
</nav>
