* {
  margin: 0;
}

body {
  background: rgb(37, 37, 37);
  font-family: Bebas Neue;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("..//src/assets/fonts/BebasNeue-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
